<div id="<%= dom_id weight %>">
  <p>
    <strong>Scale:</strong>
    <%= weight.scale %>
  </p>

  <p>
    <strong>Measurement type:</strong>
    <%= weight.measurement_type %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= weight.date %>
  </p>

</div>
